/* body#bodymain {
    font: 12px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #004080;
} */

form#logout{
	color:#004080;
	padding-top:15px;
	padding-bot:15px
}
	

nav.navbar-default{
	background-color: rgb(153, 179, 204);
}

nav.navbar-default .navbar-nav>.active>a, nav.navbar-default .navbar-nav>.active>a:focus, nav.navbar-default .navbar-nav>.active>a:hover{
	background-color: rgb(129, 160, 192);
	color: #004080;
}

nav.navbar-default .navbar-nav>li>a{
	color: #004080;
}

nav.navbar-default .navbar-brand{
	color: #004080;
}

h1.modif{
	 color: #004080;
}

h3.modif{
	color: #004080;
}

/* div.container{
	padding-bot:140px;
} */

div#piedPage.container-fluid{
	background-color: rgb(153, 179, 204);
	position: fixed;
	bottom: 0px;
	color: #004080;
	width: 100%;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
	
}

.container {
    padding-top: 70px;
    padding-bottom: 145px;
}

#titreFormulaire {
	margin-top: 50px;
	margin-bottom: 50px;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}


/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
